*
!.gitignore
!Caddyfile
!css
!css/style.css
!_layouts
!_layouts/default.html
!images
!images/image1.png
!images/image2.png
!images/image3.png
!images/image4.png
!images/icon128.png
!README.md
!_config.yml
!ffzenhancing.js
!ffzenhancing.user.js
!dev_server.js
!notify.ico
!the_ffz_enhancing_add_on-6.0-an+fx.xpi