<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>The FFZ Enhancing Add-On</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>

<body>
    <header class="page-header" role="banner">
        <h1 class="project-name">The FFZ Enhancing Add-On</h1>
        <a href="https://chrome.google.com/webstore/detail/dpjloclnedokpfjlolaebpbaclbdigon" class="btn">Download for Chrome</a>
        <a href="https://addons.mozilla.org/firefox/addon/the-ffz-enhancing-add-on1/" class="btn">Download for Firefox</a>
    </header>
    <main id="content" class="main-content" role="main">
        {{ content }}
    </main>
</body>

</html>